bin/
obj/
.vs/
.idea/
artifacts

/.vscode/
/.editorconfig
/build.yaml
/Directory.Build.props
/jellyfin.ruleset
/omnisharp.json

# Build files
/output
/node_modules
/build.js
/package.json
/pnpm-lock.yaml
